<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eapocchi</title>
    <link rel="shortcut icon" href="/index/images/logo.ico">
    <link href="/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="/index/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/index/js/main.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
  <div class="wrap">
    <!-- ヘッダー -->
    <header class="cb-header">
      <div class="header_rogo">
        <a href="index.ejs"><img src="/index/images/logo.png" alt="ロゴ"></a>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="btn-toolbar headerbtn" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="header_searchbtn" href="/search">飲食店を探す</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <a class="header_madebtn" href="/create">ホームページを作る</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- メイン -->
    <div class="main">
      <div class="maintitle">
        <h1>飲食店専門のホームページ作成ツール</h1>
      </div>
      <div class="rogo">
        <img src="/index/images/logo.png" alt="ロゴ">
        <h1>Eapocchi</h1>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="btn-toolbar mainbtn" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="main_searchbtn" href="/search">飲食店を探す</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <a class="main_madebtn" href="/create">ホームページを作る</a>
            </div>
            <div class="cook">
              <img src="/index/images/cook.png" alt="コックさんのイラスト">
            </div>
            <div class="cheers">
              <img src="/index/images/cheers.png" alt="かんぱいのイラスト">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- サブ -->
    <div class="sub">
      <div class="white">
        <h1>入力するだけ！手軽に作成</h1>
        <!-- アピール１ -->
        <div class="appeal one">
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 appeal1_left">
                  <div class="appeal_center">
                    <h2>
                      <span>フォームに</span><br>
                      <span>お店の情報を入力</span>
                    </h2>
                    <p>
                      <span>入力した情報が、</span><br>
                      <span>テンプレートに自動で反映</span>
                    </p>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                      <a class="main_madebtn" href="#">今すぐ作る</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 appeal1_right">
                  <img src="/index/images/kari.png" class="img-fluid" alt="">
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- アピール２ -->
      <div class="appeal two">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 appeal1_right">
                <img src="/index/images/kari.png" class="img-fluid" alt="">
              </div>
              <div class="col-md-6 appeal1_left">
                <div class="appeal_center">
                  <h2>
                    <span>探したいお店が</span><br>
                    <span>すぐ見つかる</span>
                  </h2>
                  <p>
                    <span>Eapocchiで、</span><br>
                    <span>作成されたお店を多数掲載</span>
                  </p>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="main_madebtn" href="/search">今すぐ検索する</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- まとめ -->
      <div class="sumarry">
        <div class="container-fluid">
          <h2>難しいことは一切不要！今すぐスタート</h2>
          <div class="row">
            <div class="col-md">
              <div class="btn-toolbar sumarrybtn" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <a class="main_searchbtn" href="/search">飲食店を探す</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <a class="main_madebtn" href="/create">ホームページを作る</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <small>(C) 2021 Eapocchi</small>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/index/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
