<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイト作成処理完了ページ</title>
    <link rel="shortcut icon" href="/search/images/logo.ico">
    <link href="/search/css/bootstrap.min.css" rel="stylesheet">
    <link href="/search/css/err.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
  <div class="wrap">
    <div class="m-5 py-5">
      <div class="container w-50">
        <div class="row justify-content-center">
          <div class="rgcenter">
            <a href="/" class="rogo">
              <img src="/search/images/logo.svg" alt="ロゴ">
            </a>
          </div>
          <div class="backwrap">
            <span>サイトが完成しました!</span>
          </div>
          <div>
            <a class="topbtn" href="/">トップページへ</a>
          </div>
        </div>
      </div>
    </div>
    <!-- フッター -->
    <footer class="footer">
      <small>(C) 2021 Eapocchi</small>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/search/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
